#duocue-overlay {
  position: fixed;
  transform: translateX(-50%);
  z-index: 99999;
  transition: bottom 0.1s, left 0.1s;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 4px;
  max-width: 80vw;
  text-align: center;
  pointer-events: none;
  white-space: pre-wrap;
  display: none;
}

.duocue-en {
  color: #ffffff;
}

.duocue-zh {
  margin-top: 4px;
  white-space: normal;
}
